@page "/"
@inject IHomeService HomeService
@using LifeDots_App.Interfaces;


<div id="main-container" class="container text-center mt-5">
    <div id="sub-container" class="mx-auto">
        <div id="logo-container" class="mb-4">
            <img src="lifedots.svg" id="logo" class="img-fluid">
        </div>
        <div id="question" class="mb-3">
            <div id="question-txt">
                How many more years do you think you will live?
            </div>
        </div>
        <div class="number-input-container">
            <div class="circle-container">
                <button class="btn decrement-btn circle-button" @onclick="Decrement">-</button>
            </div>
            <div class="circle-container">
                <input type="number" @bind="HomeService.YearsToDie" min="0" class="circle-input" @oninput="UpdateDisplay" />
            </div>
            <div class="circle-container">
                <button class="btn increment-btn circle-button" @onclick="Increment">+</button>
            </div>
        </div>

        <div id="message" class="mt-4">@HomeService.Message</div>
        <div id="dots" class="mt-4">@((MarkupString)HomeService.DotsDisplay)</div>
        <div id="second-message" class="mt-4">@HomeService.SecondMessage</div>
    </div>
</div>
